

div {
    position: relative;
    border: 1px dashed black;
}

p {
    position: absolute;
    left: 0;
    top: 0;
}

.container {
        padding: 40px;
    display: inline-block;
}

.content {
    width: 500px;
    padding: 10px;
    background-color: #a3d2e2;
    text-align: center;
}


.padding { 
    background-color: #85eb85;
}

.border {
    background-color: #ffe8c6;
}

.margin {
    background-color: #ff966f;
}